.parent_ramp{
    background-color: rgb(220, 238, 250);
 
    height: 100vh;
}
.forgotPassword_ramp{
    width: 100%;
    height: 400px;
    background-color: #191970;
    border: solid ;
    position: fixed;
    top: 25%;
    border-bottom-right-radius: 150px;
    border-top-left-radius: 150px;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
    justify-content: center;
}
.forgotPassword_ramp h3{
    font-size: 25px;
    /* margin-top: 30px; */

}
.forgotPassword_ramp p{
padding: 0px 20px;
font-size: 18px;
margin-top: 20px;
}
.forgotPassword_ramp input{
    margin-top: 30px;
    width: 300px;
    height: 35px;
    outline: none;
  padding-inline-start:10px;
  font-size: 20px;
}


.forgotPassword_ramp  div {
    margin-top: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.forgotPassword_ramp  div button{
    width: 220px;
    font-size: 22px;
    border-radius: 10px;
    background-color: #e4f1f1;
    color: #191970;
    font-weight: bold;
    border: 3px solid #1e90ff;
    padding: 5px;
}





.spinner {
    width: 80%;
    background-color: #afeeee;
    height: auto;
    border-radius: 20px;
    position: fixed;
    top: 50%;
    left: 50%;
    translate: -50% -50%;
    z-index: 1;
    color: #191970;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .spinner div {
    font-size: 22px;
    padding-inline-start: 20px;
    font-weight: bold;
  }
  