
.parent_ramp{
    background-color: #e4f1f1;
}

.header {
    margin-top: 110px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(189, 251, 251);
    position: sticky;
    top: 104px;
    padding: 5px 0px;
    margin-bottom: 30px;
  }

.abc h4{
    margin-top: 20px;
    color: #191970;
    margin-bottom: 2px;
    text-align: center;
}

  .abc li{
  
    font-style: italic;
    font-weight: 600;
  }



.abc{
padding:0px 10px;
font-size: 17px;
margin-bottom: 20px;
}
